@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* overflow-x: hidden; */
  margin: auto;
}

button {
  touch-action: manipulation;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* WebKit */
  }
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.codex-editor {
  width: calc(100% - 60px);
  margin-left: auto;

  /* padding: 10px; */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: sans-serif; /* Or your preferred font */
    font-size: revert; /* Revert to browser default size */
    font-weight: revert; /* Revert to browser default weight */
    line-height: revert; /* Revert to browser default line height */
    margin: revert; /* Restore the default margin */
  }
  ol,
  ul,
  menu {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
  blockquote {
    margin: revert;
  }
  a {
    color: revert;
  }
}

.ce-toolbar__content {
  max-width: calc(100% - 10px);
  margin-right: auto;
}

.ce-block__content {
  width: 100%;
  max-width: 100%;
}

.preview-style {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: sans-serif; /* Or your preferred font */
    /* font-size: revert; Revert to browser default size */
    font-weight: revert; /* Revert to browser default weight */
    line-height: revert; /* Revert to browser default line height */
    margin: revert; /* Restore the default margin */
  }
  ol,
  ul,
  menu {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
  blockquote {
    margin: revert;
  }
  a {
    color: revert;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 60s linear infinite; /* Adjust speed with duration */
}

.marquee-content .marquee-link {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem; /* Adjust spacing between items */
}

.marquee-content img {
  border-radius: 0.5rem; /* Rounded corners for images */
}

.gradient-border {
  background: radial-gradient(
    circle,
    rgba(75, 85, 99, 0.116) 20%,
    rgba(75, 85, 99, 0.151) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* Text animation */
.dropping-texts {
  animation: roll 4s linear;
}

@keyframes roll {
  0% {
    transform: translateY(-50px);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(150px);
  }
}

.folder-shape {
  clip-path: polygon(56% 7%, 100% 7%, 100% 100%, 75% 100%, 0 100%, 0 0, 54% 0);
  background-color: red;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.button-rotate-animation {
  position: relative;
  animation: rotateAnimation 300ms forwards;
  /* transform-style: preserve-3d; */
  /* perspective: 1000px; */
}

.button-rotate-animation p > span,
.button-rotate-animation p > svg {
  opacity: 0;
  animation: textAppear 20ms ease 20ms forwards; /* Delay the appearance */
}

@keyframes textAppear {
  from {
    opacity: 0;
    transform: rotateY(0);
  }
  to {
    opacity: 1;
    transform: rotateY(180deg);
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
